<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hulk.webview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".WebViewActivity"
            android:process=":HulkWebView"/>
        <activity android:name=".MainProcessTestActivityA"/>
        <activity android:name=".MainProcessTestActivityB"/>
        <service android:name=".mian_process.MainProcessCommandService"/>
    </application>

</manifest>