<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.framework">

    <application>
        <activity
            android:name=".activity.FrameworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BinderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityStartProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceStartProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContentProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZygoteAndSystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppStartProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppMessageLopperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppInstallAndResumeActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>